// SCROLL BAR

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $secondary-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $button-secondary-hover-color;
}

// BASIC ELEMENTS

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: $main-font;
}
html, body {
    height: 100%;
    background-color: $background-color;
    color: $font-primary-color;
    overflow: hidden;
}
a {
    color: $background-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}
.red-link {
    text-decoration: underline;
    color: $link-secondary-color;
    font-family: $bold-font;
    position: absolute;
    right: 5px;
}

// ROUND IMAGE

.round-image {
    width: 50px;
    height: 50px;

    img {
        border-radius: 50%;
        object-fit: cover;
    }
}

// BTN

.btn {
    font-family: $bold-font;
    font-size: 22px;
    color: $font-primary-color;
    background-color: $button-secondary-color;
    border: none;
    box-shadow: 0 4px 4px $shadow-color;
    cursor: pointer;
    width: 140px;
    height: 45px;
    display: block;
    position: relative;

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &.round {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    &.add {
        background-color: $button-add-color;

        &:hover {
            background-color: $button-add-hover-color;
        }
    }
    &:hover {
        background-color: $button-secondary-hover-color;
    }
}

// LIST WITH TITLE & IMAGE

.list-image-title {
    list-style: none;
    overflow-y: auto;
    max-height: 80%;
    background-color: $primary-color;

    li {
        a {
            display: flex;
            padding-left: 20px;
            padding-bottom: 10px;
            padding-top: 10px;
            border-bottom: 1px solid $secondary-color;

            .round-image {
                margin-top: auto;
                margin-bottom: auto;

                img {
                    width: 50px;
                    height: 50px;
                }
            }
            p {
                font-size: 20px;
                font-family: $light-font;
                color: $font-primary-color;
                font-weight: normal;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 15px;
            }
            &:hover {
                cursor: pointer;
                background-color: $selected-color;
                text-decoration: none;
            }
        }
    }
}