.dropdown {
    position: absolute;
    top: 100%;
    right: 5%;
    height: fit-content;
    max-height: 300px;
    width: 175px;
    background-color: $secondary-color;
    box-shadow: 2px 5px 15px $shadow-color;
    border-radius: 5px;
    overflow-y: auto;
    z-index: 99;

    ul {
        height: 100%;

        li {
            display: flex;
            margin-top: 5px;
            margin-bottom: 5px;

            p {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }
}