@font-face {
  font-family: roboto;
  src: url(/src/public_site/font/Roboto-Regular.ttf); }

@font-face {
  font-family: roboto-light;
  src: url(/src/public_site/font/Roboto-Light.ttf); }

@font-face {
  font-family: roboto-bold;
  src: url(/src/public_site/font/Roboto-Bold.ttf); }

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5BC0F8;
  text-align: center;
  width: 450px;
  height: 450px;
  border-radius: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.25); }
  .box .btn {
    margin-top: 150px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto; }
  .box .input-field {
    display: block;
    border: none;
    text-align: center;
    width: 80%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: roboto-light;
    font-size: 22px;
    margin-bottom: 20px;
    background-color: #EAEAEA; }
    .box .input-field:focus {
      outline: 1px solid black; }
  .box .circle-file-input {
    position: relative;
    display: block;
    background-color: #EAEAEA;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }
    .box .circle-file-input input {
      display: none; }
    .box .circle-file-input:hover {
      cursor: pointer;
      background-color: #cccccc; }
    .box .circle-file-input p {
      color: black;
      font-size: 26px;
      font-family: roboto-light;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .box .small-notice {
    font-size: 12px;
    text-align: left;
    margin-left: 10%; }
    .box .small-notice ul {
      margin-left: 30px; }
  .box h1 {
    font-family: roboto-light;
    font-weight: 100;
    font-size: 48px;
    margin-bottom: 60px; }

.dropdown {
  position: absolute;
  top: 100%;
  right: 5%;
  height: fit-content;
  max-height: 300px;
  width: 175px;
  background-color: #006197;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow-y: auto;
  z-index: 99; }
  .dropdown ul {
    height: 100%; }
    .dropdown ul li {
      display: flex;
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid #5BC0F8; }
      .dropdown ul li p {
        margin-top: auto;
        margin-bottom: auto; }

section .create-user {
  height: 650px; }
  section .create-user .btn {
    margin-top: 60px; }
  section .create-user #validation-msg, section .create-user #pw-length-validation {
    color: #E00000; }

section .groups {
  height: 650px;
  padding-top: 0;
  background-color: #006197; }
  section .groups .btn {
    margin-top: 15px;
    margin-bottom: 0; }
  section .groups h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin: 0;
    text-align: left;
    border-bottom: 1px solid white;
    background-color: #006197;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }

section .chat {
  height: 750px;
  padding: 0; }
  section .chat header {
    display: flex;
    height: 10%;
    background-color: #006197;
    position: relative; }
    section .chat header h1 {
      margin-top: auto;
      margin-bottom: auto;
      font-size: 20px; }
    section .chat header .add-users-icon, section .chat header .members-icon {
      margin-left: auto;
      margin-right: 10px; }
    section .chat header .add-users-icon {
      margin-left: 0; }
    section .chat header .members-icon {
      margin-right: 20px; }
    section .chat header .back-to-groups-icon {
      margin-left: 10px; }
    section .chat header .round-image {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10px;
      margin-right: 10px; }
  section .chat .chat-view {
    position: relative;
    height: 82.5%;
    padding-left: 10px;
    padding-right: 10px; }
    section .chat .chat-view .messages {
      position: absolute;
      bottom: 0;
      max-height: 100%;
      overflow-y: auto; }
      section .chat .chat-view .messages .message {
        position: relative;
        display: flex;
        margin-top: 15px;
        margin-bottom: 15px; }
        section .chat .chat-view .messages .message p {
          font-family: roboto-light;
          color: black; }
        section .chat .chat-view .messages .message p:not(.time), section .chat .chat-view .messages .message .message-media {
          background-color: #EAEAEA;
          margin-left: 5px;
          width: 355px;
          border-radius: 5px;
          text-align: justify;
          padding: 10px; }
        section .chat .chat-view .messages .message .message-media {
          padding-bottom: 25px; }
        section .chat .chat-view .messages .message .time {
          font-size: 12px;
          position: absolute;
          bottom: 0%;
          right: 0%;
          transform: translate(-50%, -50%);
          background-color: transparent; }
        section .chat .chat-view .messages .message.sent {
          flex-direction: row-reverse; }
          section .chat .chat-view .messages .message.sent p:not(.time), section .chat .chat-view .messages .message.sent .message-media {
            margin-left: 0;
            margin-right: 5px;
            background-color: #c8c8c8; }
          section .chat .chat-view .messages .message.sent .time {
            right: 12.5%; }
      section .chat .chat-view .messages .date {
        position: sticky;
        top: 10px;
        z-index: 99;
        background-color: #EAEAEA;
        color: black;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: 4px;
        border-radius: 5px;
        font-size: 18px; }
  section .chat .chat-controller {
    height: 7.5%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    position: relative; }
    section .chat .chat-controller .input-field, section .chat .chat-controller .btn {
      margin-top: auto;
      margin-bottom: auto; }
    section .chat .chat-controller .input-field {
      text-align: left;
      width: 65%;
      font-size: 16px;
      border-radius: 5px;
      padding-left: 10px;
      padding-right: 40px;
      height: 45px; }
    section .chat .chat-controller .btn {
      width: 20%;
      margin-left: auto; }
    section .chat .chat-controller .camera {
      position: absolute;
      height: 45px;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -50%); }

section .add-users {
  height: 550px; }
  section .add-users form {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    section .add-users form .btn {
      margin-top: 20px;
      margin-bottom: 20px; }
    section .add-users form .search-field {
      width: 100%;
      margin: 0; }
    section .add-users form .list-image-title {
      background-color: #006197;
      height: 250px; }
      section .add-users form .list-image-title li {
        display: flex;
        border-bottom: 1px solid #5BC0F8;
        padding: 5px; }
        section .add-users form .list-image-title li p {
          font-family: roboto-light;
          font-size: 20px;
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 10px; }
        section .add-users form .list-image-title li input[type=checkbox] {
          margin-left: auto;
          margin-top: auto;
          margin-bottom: auto;
          margin-right: 10px;
          width: 40px;
          height: 40px; }
          section .add-users form .list-image-title li input[type=checkbox]:hover {
            cursor: pointer; }
        section .add-users form .list-image-title li .round-image {
          margin-left: 10px; }

section .create-group .btn {
  margin-top: 50px;
  margin-bottom: 30px; }

section .error h1, section .error p {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

section .error p {
  font-size: 20px; }

section .error a {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%); }

#camera, #camera-view, #camera-sensor, #camera-output {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover; }

#camera .top {
  margin-top: 15px;
  margin-left: 15px; }

#camera-trigger, #camera-flip {
  background-color: #5BC0F8;
  color: white;
  border-radius: 50%;
  border: none;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: translate(-50%, -50%); }
  #camera-trigger:hover, #camera-flip:hover {
    cursor: pointer;
    background-color: #006197; }

#camera-flip {
  top: 92.5%;
  left: 72%;
  width: 45px;
  height: 45px; }
  #camera-flip img {
    width: 25px;
    height: 25px; }

#camera-trigger {
  top: 92.5%;
  left: 50%;
  width: 90px;
  height: 90px; }
  #camera-trigger img {
    height: 50px;
    width: 50px; }

.taken {
  z-index: 2; }

.bottom {
  position: absolute;
  bottom: 2.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 45px;
  z-index: 99; }
  .bottom #accept-image, .bottom #reject-image {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px; }
  .bottom #accept-image {
    left: 85%; }
  .bottom #reject-image {
    left: 15%; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #006197; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B88917; }

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: roboto; }

html, body {
  height: 100%;
  background-color: #0081C9;
  color: white;
  overflow: hidden; }

a {
  color: #0081C9;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }

.red-link {
  text-decoration: underline;
  color: #E00000;
  font-family: roboto-bold;
  position: absolute;
  right: 5px; }

.icon-link-container {
  width: 40px;
  position: relative; }
  .icon-link-container .icon-link {
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .icon-link-container .icon-link i {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.round-image {
  width: 50px;
  height: 50px; }
  .round-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; }

.btn {
  font-family: roboto-bold;
  font-size: 22px;
  color: white;
  background-color: #FFC93C;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 140px;
  height: 45px;
  display: block;
  position: relative;
  border-radius: 5px; }
  .btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .btn.round {
    border-radius: 50%;
    width: 50px;
    height: 50px; }
  .btn.add {
    background-color: #1ABD00; }
    .btn.add:hover {
      background-color: #107400; }
  .btn:hover {
    background-color: #B88917; }
  .btn:disabled {
    opacity: 0.5; }
    .btn:disabled:hover {
      background-color: #FFC93C;
      cursor: auto; }

.list-image-title {
  list-style: none;
  overflow-y: auto;
  max-height: 80%;
  background-color: #5BC0F8; }
  .list-image-title li a {
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #006197; }
    .list-image-title li a .round-image {
      margin-top: auto;
      margin-bottom: auto; }
    .list-image-title li a p {
      font-size: 20px;
      font-family: roboto-light;
      color: white;
      font-weight: normal;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 15px; }
    .list-image-title li a:hover {
      cursor: pointer;
      background-color: #1FAFFF;
      text-decoration: none; }

.btn i.fa-plus {
  background: url("/src/public_site/media/icons/plus.svg") no-repeat center;
  width: 50%;
  height: 50%; }

a i {
  width: 50%;
  height: 50%; }
  a i.fa-arrow-left {
    background: url("/src/public_site/media/icons/arrow-left.svg") no-repeat center; }
  a i.fa-chevron-left {
    background: url("/src/public_site/media/icons/chevron-left.svg") no-repeat center; }
  a i.fa-user-plus {
    background: url("/src/public_site/media/icons/user-plus.svg") no-repeat center; }
  a i.fa-camera {
    background: url("/src/public_site/media/icons/camera.svg") no-repeat center; }
  a i.fa-users {
    background: url("/src/public_site/media/icons/users.svg") no-repeat center; }
  a i.fa-xmark {
    background: url("/src/public_site/media/icons/xmark.svg") no-repeat center; }
  a i.fa-check {
    background: url("/src/public_site/media/icons/check.svg") no-repeat center; }

@media only screen and (max-width: 450px) {
  html, body {
    background-color: #5BC0F8; }
  .box {
    box-shadow: none;
    width: 100%; }
    .box.groups, .box.chat {
      height: 100%; }
      .box.groups h1, .box.chat h1 {
        padding-top: 40px; }
      .box.groups .red-link, .box.chat .red-link {
        top: 30px; } }
