section {
    .create-user {
        height: 650px;

        .btn {
            margin-top: 60px;
        }
        #validation-msg, #pw-length-validation {
            color: $link-secondary-color;
        }
    }
}