section  {
    .groups {
        height: 650px;
        padding-top: 0;
        background-color: $secondary-color;

        .btn {
            margin-top: 15px;
            margin-bottom: 0;
        }
        h1 {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            margin: 0;
            text-align: left;
            border-bottom: 1px solid $font-primary-color;
            background-color: $secondary-color;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
}